<main>
  <div class="card">
    <div class="card-header cursor-pointer">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="m-0">My Appoinments</h3>
      </div>
    </div>
    <!--end::Card header-->
    <!--begin::Tab Content-->
    <div class="tab-content">
      <!--begin::Tab panel-->
      <div id="kt_billing_months" class="card-body p-0 tab-pane fade show active" role="tabpanel"
        aria-labelledby="kt_billing_months">
        <!--begin::Table container-->
        <div class="table-responsive">
          <!--begin::Table-->
          <table class="table table-row-bordered align-middle gy-4 gs-9">
            <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75">
              <tr>
                <td>ID</td>
                <td [ngClass]="role == 'Doctor' ? 'd-none' : ''">Doctor Name</td>
                <td [ngClass]="role == 'User' ? 'd-none' : ''">User Name</td>
                <td>Booking Day</td>
                <td>Booking Date</td>
                <td>Status</td>
                <td>View</td>
                <td>Action</td>
              </tr>
            </thead>
            <tbody class="fw-semibold text-gray-600" *ngFor="let appoint of appoinments">
              <tr>
                <td>{{ appoint.id }}</td>
                <td [ngClass]="role == 'Doctor' ? 'd-none' : ''">{{ appoint.doctor_name }}</td>
                <td [ngClass]="role == 'User' ? 'd-none' : ''">{{ appoint.user_name }}</td>
                <td>{{ appoint.booking_day }}</td>
                <td>{{ appoint.booking_date }}</td>
                <td>{{ appoint.status }}</td>
                <td>
                  <a type="button" class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#view">
                    <i class='bx bx-show-alt' ></i>

                  </a>
                </td>
                <td>
                  <a type="button" class="btn btn-sm" [ngClass]="role == 'User' ? 'd-none' : ''">
                    {{ accept }}
                    <i class='bx bx-error-circle'*ngIf="showIcon"></i>
                  </a>
                  <a type="button" (click)="cancel(appoint.id)" class="btn btn-sm" data-bs-toggle="modal"
                    data-bs-target="#cancel">
                    {{ cansled }}
                    <i class='bx bx-x-circle' *ngIf="showIcon"></i>
                  </a>
                </td>
              </tr>
            </tbody>

          </table>
          <div class="custom_pagination my-3">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" (click)="previousPage()"
                  [ngClass]="currentPage == 1 ? 'disabled' : ''">Previous</a>
              </li>
              <li class="page-item">
                <a class="page-link">{{ currentPage }}</a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="nextPage()"
                  [ngClass]="currentPage == totalPages ? 'disabled' : ''">Next</a>
              </li>
            </ul>
          </div>
          <!--end::Table-->
        </div>
        <!--end::Table container-->
      </div>
      <!--end::Tab panel-->
    </div>
    <!--end::Tab Content-->
  </div>

  <!-- view -->
  <div class="modal fade" id="view" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" #myModal
    aria-labelledby="view" aria-hidden="true">
    <!-- [ngClass]="isVisible == false ? 'd-block' :'d-none' " -->
    <app-view-appoinment></app-view-appoinment>
  </div>

  <!-- cansel -->
  <div class="modal fade" id="cancel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" #myModal
    aria-labelledby="cancel" aria-hidden="true">
    <!-- [ngClass]="isVisible == false ? 'd-block' :'d-none' " -->
    <app-cancel></app-cancel>
  </div>
</main>
