<main class="main" data-icms-placeholder="main">
  <div class="dynamic-page" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
    <div class="container">

      <div class="vco-details-page">
        <section class="vco-details-content">
          <div class="container-fluid">
            <div class="details-wrapper">
              <div class="dr-details">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
                    <div class="dr-img">
                      <img src="../../../../../assets/images/doctors/doctors-2.jpg" alt="Dr. Stephanie Muh"
                        title="Dr. Stephanie Muh" />
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12 mb-4">
                    <div class="dr-intro">
                      <div class="top-wrapper">
                        <div class="dr-title">
                          <h2>Dr. Stephanie Muh</h2>
                          <p>Orthopedic Surgery - Shoulder and Elbow</p>
                          <p class="title">25 Years of Experience</p>

                        </div>

                        <div class="surgeon">
                          <div class="data">
                            <span>Surgeon</span>
                          </div>

                          <div class="icon">
                            <i class="fi-surgeon"></i>
                          </div>
                        </div>

                      </div>

                      <div class="dr-dis">
                        <p>Dr. Stephanie Muh received her medical degree from Drexel University College of Medicine and
                          then completed her training in Orthopaedic Surgery at Henry Ford Health System (Detroit,
                          Michigan). </p>

                        <p>Dr Muh pursued a fellowship specialization in shoulder and elbow at Case Western Reserve
                          University (Cleveland, Ohio). </p>

                        <p>As the Service Chief of the Shoulder and Elbow Service Line at Henry Ford Hospital, she also
                          plays an integral role in educating medical students, residents, and fellows.</p>

                        <p>She is also the Associate Program Director for the Sports Medicine Fellowship program, as
                          well as the Deputy Service Chief for the Department of Orthopaedics at Henry Ford-West
                          Bloomfield Hospital.</p>

                        <p>Doctor Stephanie will visit Khorfakkan Hospital from 26 to 28 September 2021 and Sqer
                          hospital from 29-30 September 2021</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="date-show">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="title">Clinic Address: Adsdfd</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                      <p class="title">Day</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                      <p class="title">Start Time</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                      <p class="title">End Time</p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                      <p class="title">no-of booking</p>
                    </div>
                  </div>
                  <div class="dr-available" *ngFor="let da of Data">
                    <div class="row">
                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="available-item">
                          <div class="icon">
                            <i class="fi-address"></i>
                          </div>

                          <div class="content">

                            <p class="data">{{da.day}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="available-item">
                          <div class="icon">
                            <i class="fi-calendar-2"></i>
                          </div>

                          <div class="content">
                            <p class="data">{{da.start_time}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="available-item">
                          <div class="icon">
                            <i class="fi-calendar-2"></i>
                          </div>

                          <div class="content">
                            <p class="data">{{da.end_time}}</p>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="available-item">
                          <div class="icon">
                            <i class="fi-toll-free"></i>
                          </div>

                          <div class="content">
                            <p class="title"></p>
                            <p class="data">{{da.num_bookings}}</p>
                          </div>
                        </div>
                      </div>


                      <div class="col-lg-2 col-md-3 col-sm-6 col-12">
                        <div class="available-item">
                          <div class="icon">
                            <i class="fi-toll-free"></i>
                          </div>

                          <div class="content">
                            <a class="btn btn-success  button mt-1 text-center my-4"
                              routerLink="/doctor/timeSlots">Booking</a>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
