
  <div class="forget-pass-page">
<div class="container">
  <div class="content-wrapper">
          <div class="row ">
              <div class="col-lg-12">
                  <div class="p-5">
                      <div class="brand-logo" >
                          <img src="../../../../assets/images/your-doc/logo.png" alt="your-doctor" width="150">
                      </div>
                      <h4>Forget your password?</h4>
                      <h6 class="font-weight-light">please enter the email you use </h6>
                      <form class="">
                          <div class="form-group">
                              <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                  placeholder="Your Email">
                          </div>
                          <div class="mt-3">
                              <a class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn text-uppercase"
                                  href="#">Request password reset</a>
                          </div>
                          <div class="text-center mt-4 font-weight-light">
                              <a routerLink="/auth/login">Back to Login</a>
                          </div>

                     </form>
              </div>
          </div>
      </div>
  </div>
  <!-- content-wrapper ends -->
</div>

</div>
