

<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper fadeInDown">
          <div id="formContent" class="reassign-content">
            <div class="login-dic">
              <h2>Password Reset</h2>
              <!-- <a routerLink="/auth/signup"> Don't have an account ?
                <br>
                <span class="underlineHover"> Create Free Account </span>
              </a> -->
            </div>

            <form [formGroup]="passwordChangeForm"  (ngSubmit)="changePassword()">
              <!-- <div class="alert alert-danger" *ngIf="errorMsg!=''" (input)="errorMsg=''">{{errorMsg}}</div> -->
              <div class="form-group">
                <input  class="input-group" formControlName="newPassword" required id="password"/>
                <label > New Password</label>
              </div>

              <div class="form-group">
                <input class="input-group" formControlName="confirmPassword" required>
                <label >Confirm new password</label>
              </div>

              <button type="submit" class="btn-lo fadeIn" >
                change password
              </button>
            </form>
            <!-- Remind Passowrd -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
