<!-- <main>

  <div class="profile-page">
    <div class="wrapper">
      <div class="profile-card js-profile-card">

        <a href="edit-profile" class="edit-profile"> <i class='bx bx-edit'></i></a>
        <div class="profile-card__img">
          <img src="../../../assets/images/doctors/doctors-3.jpg">
        </div>

        <div class="profile-card__cnt js-profile-cnt">
          <div class="profile-card__name" data-toggle="tooltip" title="Name" >Muhammed Erdem</div>
          <div class="profile-card__txt"data-toggle="tooltip" title="Specialties">Specialties<strong>Specialties</strong></div>
          <div class="profile-card-loc">
            <span class="profile-card-loc__icon">
              <i class="bx bx-location"></i>
            </span>

            <span class="profile-card-loc__txt" data-toggle="tooltip" title="Addres">
              Istanbul, Turkey
            </span>


          </div>
      <div class="profile-card-loc__bio" data-toggle="tooltip" title="bio">
              <p class="mt-4">I am a follower of true ethics. #ethics
               Mental power is as much needed as the power of body.
               Don’t fear…just treat it.
               Doctors believe that comforting others can prove to be a source of real comfort for themselves.
              </p>
             </div>
          <div class="profile-card-inf">
            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title data-toggle=" tooltip title="Fess">Fess</div>
              <div class="profile-card-inf__txt">22$</div>
            </div>

            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title"data-toggle="tooltip" title="birthday">Age</div>
              <div class="profile-card-inf__txt">2/22/2222</div>
            </div>

            <div class="profile-card-inf__item">
              <div class="profile-card-inf__title" data-toggle="tooltip" title="Gender">Gender</div>
              <div class="profile-card-inf__txt" >Male</div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div >

  </main> -->

<main>
  <div class="card mb-3">
    <div class="card-body">
      <h2></h2>
      <div class="row">
        <div class="col-sm-9">
          <h4>Profile Details</h4>
        </div>
        <div class="col-sm-3" >
          <a class="btn btn-info" target="__blank"
            href="">Edit Profile</a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Your Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">Ayat Hashish</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Your Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">ayat@mail.com</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Phone</h6>
        </div>
        <div class="col-sm-9 text-secondary">(+20) 816-9029</div>
      </div>
      <hr />

      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          Bay Area, San Francisco, CA
        </div>
      </div>

    </div>
  </div>
</main>
