<div class="container">
  <div class="card mt-5 border-5 pt-2 active pb-0 px-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="profile-img">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
              alt="" />
            <div class="file btn btn-lg btn-primary">
              Change Photo
              <input type="file" name="file" />
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-12">
              <h4 class="card-title"><b>Program Title</b></h4>
            </div>
            <div class="col-12 mt-5">
              <h6 class="card-subtitle mb-2 text-muted">
                <p class="card-text text-muted small">
                  <img src="https://img.icons8.com/metro/26/000000/star.png" class="mr-1" width="19" height="19"
                    id="star" />
                  <span class="vl mr-2 ml-0"></span> Created by
                  <span class="font-weight-bold"> ayat team</span> on 1
                  Nov , 2018
                </p>
              </h6>
            </div>
          </div>
        </div>

        <div class="card-footer bg-white px-0">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="pill" data-bs-target="#profile" type="button"
                role="tab" aria-controls="profile" aria-selected="false">
                Profile
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button class="nav-link " id="settings-tab" data-bs-toggle="pill" data-bs-target="#settings" type="button"
                role="tab" aria-controls="settings" aria-selected="true">
                Settings
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="security-tab" data-bs-toggle="pill" data-bs-target="#security" type="button"
                role="tab" aria-controls="security" aria-selected="false">
                Security
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="address-tab" data-bs-toggle="pill" data-bs-target="#address" type="button"
                role="tab" aria-controls="address" aria-selected="true">
                Address
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="appointments-tab" data-bs-toggle="pill" data-bs-target="#appointments"
                type="button" role="tab" aria-controls="appointments" aria-selected="true">
                My Appointments
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="border-5">
    <div class="tab-content" id="pills-tabContent">
      <!-- profile -->
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <app-profile></app-profile>
      </div>
      <div class="tab-pane fade " id="settings" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
        <app-setting></app-setting>
      </div>
      <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab" tabindex="0">
        <app-security></app-security>
      </div>
      <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab" tabindex="0">
        <app-address></app-address>
      </div>
      <div class="tab-pane fade show" id="appointments" role="tabpanel" aria-labelledby="appointments-tab" tabindex="0">
       <app-booking></app-booking>
      </div>
    </div>
  </div>
</div>
