<nav>
  <ul class="pagination">
    <li class="page-item" *ngIf="currentPage > 0 "> <a class="page-link"
        (click)=" currentPage = currentPage - 1">Prev</a> </li>
    <li class="page-item" *ngFor="let image of images; let i=index" [class.active]="i===currentPage"> <a
        class="page-link" (click)="currentPage = i">{{i+1}}</a> </li>
    <li class="page-item" *ngIf="currentPage < images.length - 1"> <a (click)=" currentPage = currentPage + 1 "
        class="page-link">Next</a> </li>
  </ul>
</nav>


<!-- <div *ngIf="!ayat"> <p>No Employees Names</p> </div> -->
<<ng-template #ayat></ng-template>
  <div *ngIf="empNames then Names else NoNames"></div> <ng-template #Names>
    <p *ngFor="let emp of empNames">{{ emp }}</p>
  </ng-template>

  <ng-template #NoNames>
    <p>No Employees Names</p>
  </ng-template>
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="1">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="2">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="3">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="4">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="5">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchCase="6">
      <p>You chose the number {{currentPage + 1 }}</p>
    </div>
    <div *ngSwitchDefault>
      <p>Unknown current page !</p>
    </div>
  </div>
