
@import "../../../../../../assets/scss/componants/variable";
.deletslots-page{
  h1{
    font-size: 1.5rem;
    margin: 50px;
  }
.modal-footer{
  align-items: end !important;
  justify-content: end !important;
}
}
.my-red-class {
  color: red;
}
.my-blue-class {
  color: blue;
}
