<div class="not-found">
  <div class="content text-center">
    <h1>
      <span class="fade-in" id="digit1">4</span>
      <span class="fade-in" id="digit2">0</span>
      <span class="fade-in" id="digit3">4</span>
    </h1>
    <div class="container">
      <h3 class="fadeIn">PAGE NOT FOUND</h3>
      <p>Oops! We couldn't find the page you were looking for.</p>
      <p>It may have been removed or the link you followed may be broken.</p>
      <p>Please check the URL and try again, or visit our homepage to explore our services.</p>
    </div>
    <button type="button" routerLink="/home">Return To Home</button>
  </div>
</div>