* {
  font-family: Google sans, Arial;
  font-family: sans-serif !important;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: #e7ffff;
  // animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

  .content {
    h1,
    h3 {
      margin: 10px;
      cursor: default;
      .fade-in {
        animation: fadeIn 2s ease infinite;
      }
    }

    h1 {
      color: #495bfc;
      font-size: 15em;
      transition: font-size 200ms ease-in-out;
      span {
        text-shadow: 1px 1px 1px #3c4acf, 2px 2px 1px #3c4acf,
          3px 3px 1px #3c4acf, 4px 4px 1px #3c4acf, 5px 5px 1px #3c4acf,
          6px 6px 1px #3c4acf, 7px 7px 1px #3c4acf, 8px 8px 1px #3c4acf,
          25px 25px 8px rgba(0, 0, 0, 0.1);
        padding: 0 3px;
      }
      span#digit1 {
        animation-delay: 200ms;
      }
      span#digit2 {
        animation-delay: 300ms;
      }
      span#digit3 {
        animation-delay: 400ms;
      }
    }
    h3{
      margin: 0.7em 0;
      color: #444;
      font-size: 3em;
      font-weight: 550;
    }
    p {
      margin: 0.5rem 0;
      font-size: 1.3em;
      font-weight: 550;
      color: #444;
    }

    button {
      display: inline-block;
      border: 2px solid #222;
      color: #222;
      text-transform: uppercase;
      font-weight: 600;
      padding: 0.75rem 1rem 0.6rem;
      transition: all 0.2s linear;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
      // border: 1px solid white;
      // background: transparent;
      // outline: none;
      // padding: 10px 20px;
      // font-size: 1.1rem;
      // font-weight: bold;
      // color: white;
      // text-transform: uppercase;
      // transition: background-color 200ms ease-in;
      margin: 20px 0;

      &:hover {
        background: #222;
        color: #ddd;
        // background-color: white;
        // color: #555;
        cursor: pointer;
      }
    }
  }
}

@keyframes colorSlide {
  0% {
    background-color: #152a68;
  }
  25% {
    background-color: royalblue;
  }
  50% {
    background-color: seagreen;
  }
  75% {
    background-color: tomato;
  }
  100% {
    background-color: #152a68;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
