<main>
  <div class="time-slot-page">
    <div class="container">
      <div class="card">

    <div class="container">
      <div class="time-slot">
          <form>
            <div class="form-group">

              <select class="form-select input-group" id="week_day" name="week_day" aria-label="Default select example"  required>
                <option selected disabled>Select Day</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
              </select>

              <!-- <div class="alert alert-danger"> </div> -->

            </div>
            <div class="form-group">

              <input type="time" class="input-group" id="start_time" name="start_time" required>
              <label for="start_time">Start Time</label>
              <!-- <div class="alert alert-danger"></div> -->

            </div>
            <div class="form-group">

              <input type="time" class="form-control" id="end_time"  name="end_time" required>
              <label for="end_time">End Time</label>
              <!-- <div class="alert alert-danger"> </div> -->

            </div>
            <div class="form-group">

              <input type="number" class="form-control" id="num_of_booking" name="num_of_booking" required>
              <label for="num_of_booking">Number of Booking</label>
              <!-- <div class="alert alert-danger"></div> -->

            </div>
            <div class="form-group">

              <input type="number" class="form-control" id="doctor_id" required>
              <label for="doctor_id">Doctor ID</label>
            </div>
            <div>
              <button type="submit" class="button mt-1">Update Slot</button>
          </div>
          </form>
      </div>
    </div>

  </div>
</div>


  </div>
</main>
