@import "../../../../assets/scss/componants/variable";

.about-us {
  .card {
    border-color: #f4f4f4;
    .card-body {
      .content {
        .heading {
          font-size: 25px;
          color: #333;
          margin-bottom: 20px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        //         .about_info {
        //           // background-color: #f8f9fa;
        //           .heading {
        //             font-size: 25px;
        //             color: #333;
        //             margin-bottom: 20px;
        //             text-align: center;
        //             text-transform: uppercase;
        //             letter-spacing: 2px;
        //           }
        //           p {
        //             // font-family: Inter, Helvetica, "sans-serif";
        //             font-size: 16px;
        //             line-height: 1.5;
        //             margin-bottom: 20px;
        //             color: #6c757d !important;
        //           }
        //         }
      }
    }
  }
}
