<!-- <div>Some tags before</div>
<owl-carousel-o>
  <ng-template carouselSlide>Slide 1</ng-template>
  <ng-template carouselSlide>Slide 2</ng-template>
  <ng-template carouselSlide>Slide 3</ng-template>
</owl-carousel-o> -->
<div>Some tags after</div>
    <!--Start Home Banner-->
    <section class="banner-section" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="1200">
      <div class="container-fluid">
          <div class="owl-carousel owl-theme banner-slider">
              <div class="item">
                  <div class="item-wrap">
                      <img src="../../../../assets/images/banner-im-1.jpg" class="desktop" alt="banner-image"
                          title="Future Technology in Health Service Delivery" />
                      <img src="../../../../assets/images/banner-im-2jpg" class="mobile" alt="banner-image"
                          title="​Future Technology in Health Service Delivery" />
                      <div class="content-wrap">
                          <h1>Future Technology in Health Service Delivery</h1>
                          <a href="#" class="learn-more-white" title="learn more" data-toggle="tooltip">
                              learn more <i class="fi-arrow-right"></i>
                          </a>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="item-wrap">
                      <img src="../images/contents/banner-im-2.jpg" class="desktop" alt="banner-image"
                          title="Future Technology in Health Service Delivery" />
                      <img src="../images/contents/banner-im-mob-2.jpg" class="mobile" alt="banner-image"
                          title="​Future Technology in Health Service Delivery" />
                      <div class="content-wrap">
                          <h1>​Future Technology in Health Service Delivery</h1>
                          <a href="#" class="learn-more-white" title="learn more" data-toggle="tooltip">
                              learn more <i class="fi-arrow-right"></i>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="slider-counter"></div>
          <a class="scroll-down" href="#our-services" title="Scroll down to view more" data-toggle="tooltip">
              <i class="fi-mouse"></i>
              <span>scroll down</span>
          </a>
      </div>
      <div class="sticky-links">
          <ul>
              <li>
                  <a href="#" class="notification brand-tooltip" data-toggle="tooltip" title="Notification">
                      <i class="fi-bell"></i><span class="count"></span>
                  </a>
              </li>
              <li>
                  <div class="social-wrap">
                      <a href="#" class="social" data-toggle="tooltip" title="Social Media">
                          <i class="fi-social"></i>
                      </a>
                      <ul class="social-icons">
                          <li>
                              <a href="https://www.facebook.com/EHSUAE/" title="Facebook"
                                  data-toggle="tooltip"><i class="fi-facebook"></i></a>
                          </li>
                          <li>
                              <a href="https://twitter.com/EHSUAE/" title="Twitter" data-toggle="tooltip">
                                  <i class="fi-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="instagram.com/EHSUAE/" title="Instagram" data-toggle="tooltip">
                                  <i class="fi-instagram"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/in/ehsuae/" title="Linkedin"
                                  data-toggle="tooltip"><i class="fi-linkedin"></i></a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/channel/UC-e8YPOk7IDQALww18ggtZw"
                                  title="Youtube" data-toggle="tooltip"><i class="fi-youtube"></i></a>
                          </li>
                      </ul>
                  </div>
              </li>
              <li>
                  <a href="#" class="survey" data-toggle="tooltip" title="Survey">
                      <i class="fi-survey"></i>
                  </a>
              </li>
              <li>
                  <a href="#" class="happiness" data-toggle="tooltip" title="Happiness Center">
                      <i class="fi-happiness"></i>
                  </a>
              </li>
          </ul>
      </div>
  </section>
  <!--End Home Banner-->
