@import "../../../../assets/scss/componants/variable";

footer {
  .footer-top {
    .social-networks {

      p {
        font-size: 14px;
    }
      a {
        transition: 0.3s ease-in-out;
        font-size: 18px !important;
        // font-size: 18px;
        background-color: #6c757d;
        color: #f8f9fa !important;
        // border-radius: 50%;
        border-radius: 5px;
        width: 35px;
        height: 35px;
      }
      .facebook {
        &:hover {
          background: $fo-brand;
        }
      }
      .twitter {
        &:hover {
          background: $fo-brand;
        }
      }
      .instagram {
        &:hover {
          background: linear-gradient(
            to right,
            #833ab4,
            #f56040,
            #ffc107,
            #ffd700
          );
        }
      }
      .linkedin {
        &:hover {
          background: $fo-brand;
        }
      }
    }
  }
  .footer-middle{
    a{
      &:hover{
        color: $fo-brand !important;
      }
    }
  }

  .Copyright{
    background-color:$light-gray0;
  }
}
