<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-4">
  <!-- Section: Social media -->
  <section class="footer-top">
    <div class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom align-items-center">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>

      <!-- Right -->
      <div class="social-networks d-flex justify-content-center">
        <a href="" class="me-4 text-reset d-flex justify-content-center align-items-center facebook"> <i class="bx bxl-facebook"></i> </a>
        <a href="" class="me-4 text-reset d-flex justify-content-center align-items-center twitter"> <i class="bx bxl-twitter"></i> </a>
        <a href="" class="me-4 text-reset d-flex justify-content-center align-items-center instagram"> <i class="bx bxl-instagram"></i> </a>
        <a href="" class="me-4 text-reset d-flex justify-content-center align-items-center linkedin"> <i class="bx bxl-linkedin"></i> </a>
      </div>
    </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="footer-middle">
    <div class="container text-center text-md-start mt-5">
      <!-- Start Grid row -->
      <div class="row mt-3">
        <!-- Brand column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <a href="">
              <img width="130" src="../../../assets/images/your-doc/logo.png" alt="Your Doctor Logo">
            </a>
          </h6>
          <p>
            Find the best doctors, book appointments, and manage your health all in one place with Your Doctor's
            innovative platform.
          </p>
        </div>

        <!-- Main List column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Main List
          </h6>
          <p>
            <a routerLink="/about-us" class="text-reset">About US</a>
          </p>
          <p>
            <a routerLink="/doctor/all" class="text-reset">All Doctors</a>
          </p>
          <p>
            <a routerLink="/allspcialistes" class="text-reset">All Specialties</a>
          </p>
        </div>

        <!-- Need Help? column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Need Help?
          </h6>
          <p>
            <a routerLink="/medical-questions" class="text-reset">Medical Q&As</a>
          </p>
          <p>
            <a routerLink="/contact-us" class="text-reset">Contact Us</a>
          </p>
          <p>
            <a routerLink="/terms-of-use" class="text-reset">Terms Of Use</a>
          </p>
          <p>
            <a routerLink="/doctors-policy" class="text-reset">Doctors Privacy Policy</a>
          </p>
        </div>

        <!-- Contact column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Contact US
          </h6>
          <p><i class="bx bxs-home me-3"></i> Cairo, Egypt</p>
          <p> <i class="bx bxs-envelope me-3"></i> info@yourdoctor.com </p>
          <p><i class="bx bxs-phone me-3"></i> + 010 234 567 88</p>
          <p><i class="bx bxs-printer me-3"></i> + 010 234 567 89</p>
        </div>
      </div>
      <!-- End Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    &copy; Copyright:
    <span class="text-reset fw-bold">Your Doctor</span> &#169; All Rights Reserved 2023.
  </div>
  <!-- Copyright -->
</footer>
<!-- End Footer -->
