
@import "../../../../../assets/scss/componants/variable";
.card{
  border: none;
  padding: 2.25rem 0;
  .card-header{
    background-color: $pure-white;
    border-bottom: $border;
  }
  .card-body{
    padding: 0 2.25rem;
  }

}
