<main>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-9">
          <h4>Profile Details</h4>
        </div>
        <div class="col-sm-3" >
          <a class="btn btn-info" target="__blank"
            href="">Edit Profile</a>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Your Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">Ayat Hashish</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Your Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">ayat@mail.com</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Phone</h6>
        </div>
        <div class="col-sm-9 text-secondary">(+20) 816-9029</div>
      </div>
      <hr />

      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          Bay Area, San Francisco, CA
        </div>
      </div>

    </div>
  </div>
</main>

