


<div class="bred" [style.display]="pageUrl == '/' || pageUrl == '/home' ? 'none!important' : 'block'">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="">{{ pageTitle }}</h2>
    </div>
  </div>
<main class="about-us">
  <div class="container">
    <section class="details-content">
      <div class="details-wrapper">
    <div class="card mb-5">
      <div class="card-body p-4 py-9">
        <div class="content">
          <div class="row">
            <div class="col-md-4">
              <div class="about_img py-9">
                <img class="img-fluid" src="../../../../assets/images/about-img.svg" alt="About Image"
                  title="About Image">
              </div>
            </div>
            <div class="col-md-8">
              <div class="about_info p-3">
                <h1 class="heading">About Us</h1>
                <p>
                  Welcome to Your Doctor, the online appointment booking system that connects patients with healthcare
                  professionals in a seamless and convenient way.
                </p>
                <p>
                  Our mission is to make healthcare more accessible and convenient for everyone. We understand that
                  finding the right doctor and booking an appointment can be a time-consuming and frustrating process.
                  That’s why we’ve created a simple, user-friendly platform that allows you to search for doctors in
                  your area, view their profiles, and book appointments online – all from the comfort of your own home.
                </p>
                <p>
                  At Your Doctor, we are passionate about improving the patient experience. Our team of experienced
                  professionals is dedicated to providing you with the highest level of service and support. Whether you
                  need help finding a doctor or have a question about our services, we’re always here to help.
                </p>
                <p>
                  Thank you for choosing Your Doctor as your trusted source for online healthcare. We look forward to
                  serving you and helping you take control of your health.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>
  </div>
</main>
</div>



