  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-logo">
            <h3 class="logo me-auto"><a href="">
              <img width="100" src="../../../assets/images/your-doc/logo.png" alt="">
             </a></h3>
          </div>
          <div class="col-lg-3 col-md-6 footer-links footer-contact">
            <h4 data-toggle="tooltip" title="Phone">Contact Us</h4>
            <p>
              Elslam <br>
              Egypt, cairo<br>
              <strong data-toggle="tooltip" title="Phone">Phone:</strong> +1111548487878<br>
              <strong data-toggle="tooltip" title="Search">Email:</strong> info@yourdoctor.com<br>
            </p>
          </div>
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li data-toggle="tooltip" title="Home"><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li data-toggle="tooltip" title="About us"><i class="bx bx-chevron-right"></i> <a href="#">About us</a>
              </li>
              <li data-toggle="tooltip" title="Specialties"><i class="bx bx-chevron-right"></i> <a
                  href="#">Specialties</a></li>
              <li data-toggle="tooltip" title="Doctors"><i class="bx bx-chevron-right"></i> <a href="#">Doctors</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4 data-toggle="tooltip" title="Join us">Join us </h4>
            <p data-toggle="tooltip" title="">There are the best doctors and all services</p>
            <a data-toggle="tooltip" title="Join us Now " class="text-uppercase btn-action scrollto " href="">Join us
              Now <i class="bx bx-right-arrow-circle"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-md-flex py-4">
      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Your Doctor</span></strong>. All Rights Reserved 2022
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter" data-toggle="tooltip" title="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook" data-toggle="tooltip" title="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram" data-toggle="tooltip" title="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus" data-toggle="tooltip" title="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin" data-toggle="tooltip" title="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->
