<div class="login">
  <div class="wrapper fadeInDown">
      <div id="formContent" class="register-form">
          <div class="container">
              <div class="row">
                  <!--    title -->
                  <div class="col-lg-12">
                      <div class="brand-logo">
                          <img src="">
                      </div>
                      <h4>Hello! let's get started</h4>
                      <h2 class="inactive underlineHover"><a routerLink="/login"> Login In</a> </h2>
                      <h2 class=" active">SIGN UP</h2>
                  </div>
                  <!-- form -->
                  <div class="col-lg-12">
                      <form class="pt-3">
                          <div class="row">
                              <!--    name -->
                              <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email"
                                        placeholder="Name"><br>
                                        <div class="alert alert-danger"></div>

                                </div>
                            </div>
                              <!--  email -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="email" class="form-control" name="email"
                                          placeholder="email"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!--    password -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="password" class="form-control" name="password"
                                          placeholder="password"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!-- Confirm Passwprd -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="password" class="form-control" name="confPass"
                                          placeholder="Confirm Passwprd"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!-- gender -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <select class="form-control" name="gender">
                                          <option value="Male">Male</option>
                                          <option value="Female">Female</option>
                                      </select><br>
                                  </div>
                              </div>
                              <!-- date -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="date" class="form-control" name="birth_date"
                                          placeholder="birth_date"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!--   phone -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="number" class="form-control" name="phone"
                                          placeholder="phone"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!--    file -->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <input type="file" class="form-control" name="avatar"><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <!--   Choose Type-->
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <select class="form-control" name="user_type" id="user_type">
                                          <option disabled selected>Choose Type</option>
                                          <option value="3">Patient</option>
                                          <option value="2">Doctor</option>
                                      </select><br>
                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <div class="col-lg-6">
                                  <div class="form-group row">
                                      <div class="col-sm-4">
                                          <input type="text" class="form-control" id="city"
                                              name="city" placeholder="City"><br>
                                      </div>
                                      <div class="col-sm-4">
                                          <select name="state" id="states"class="form-control">
                                          </select><br>

                                              <div class="alert alert-danger">
                                                  </div>

                                      </div>
                                      <div class="col-sm-4">
                                          <input type="number" class="form-control" id="postal_code"
                                              name="postal_code" placeholder="Postal Code"><br>

                                              <div class="alert alert-danger">
                                                  </div>

                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 doc_input">
                                  <div class="form-group">
                                      <select class="form-control" name="specialty">
                                              <option value=""></option>
                                      </select><br>

                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <div class="col-lg-6 doc_input">
                                  <div class="form-group">
                                      <input type="number" class="form-control" name="fees"
                                          placeholder="fees"><br>

                                          <div class="alert alert-danger"></div>

                                  </div>
                              </div>
                              <div class="col-lg-6 doc_input">
                                  <div class="form-group">
                                      <textarea class="form-control" name="bio" placeholder="Bio:-" rows="2"></textarea>
                                  </div>
                              </div>
                          </div>
                          <input type="submit" class="fadeIn mt-2 fourth" value="Register">
                      </form>
                  </div>
              </div>
          </div>
          <!-- Tabs Titles -->
      </div>
  </div>
</div>
