.border-dash{
  border: 1px dashed #e1e3ea;
}
.button_custom{
  color: #7e8299;
  background-color: #f9f9f9;
  font-size: 0.95rem;
  &:hover{
    color: #009ef7;
    background-color: #f1faff;
  }
}
.button_edit{
  color: #7e8299;
  background-color: #f9f9f9;
}
.button_edit{
  color: #7e8299;
  background-color: #f9f9f9;
}
.button_edit{
  color: #7e8299;
  background-color: #f9f9f9;
}

