<main>
  <section class="search-banner">
    <div class="contaner">


    </div>
    <form class="form" [formGroup]="searchForm" (ngSubmit)="search()">
      <input type="text" list="mylist" placeholder="Doctor Name" formControlName="doctor_name" />

      <select id="mylist" class="specialties-selection" formControlName="specialty_id">
        <option value="0">All Specialties</option>
        <option value="{{specialties.id}}" *ngFor="let specialty of specialties">{{specialty.title}}</option>
      </select>
      <a type="submit" class="search-submit">Search</a>
    </form>
  </section>
</main>
