<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled}">
  <div class="container">
    <!-- <a class="navbar-brand" href="#">
      <img width="100" src="../../../assets/images/your-doc/logo.png" alt="" routerLink="/home" />
    </a> -->

    <a class="navbar-brand" href="#">
      <img width="100" src="../../../../assets/images/login/sehetak.jpeg" alt="" routerLink="/home" />
    </a>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
      aria-controls="main_nav" aria-expanded="false">
      <i class="bx bx-menu"></i>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/home">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctor/all">Doctors</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>


        <li class="nav-item" *ngIf="!_auth.isLoggedIn">
          <a class="nav-link custom-btn btn-6" routerLink="/auth/login">
            SIGN IN
          </a>
        </li>
        <li class="profile-pic">
          <div class="profile_menu" *ngIf="_auth.isLoggedIn">
            <a class="profile_nav" routerLink="/user/profile">
              <div class="pic">
                <img alt="User Avatar" [src]="[profiles.avatar]" />
              </div>
              <h5>{{profiles.first_name}}</h5>
            </a>
          </div>
        </li>
        <li>
          <a (click)="logout()" class="nav-link scrollto logout">
            <i class="bx bx-log-out"></i>
          </a>
        </li>
      </ul>

      <ul>

      </ul>
    </div>


  </div>

</nav>
