<main class="modal-handle">
  <div class="modal-dialog modal-dialog-centered align-center">
    <div class="modal-content ">
      <div class="modal-header" style="background: #09c">
        <h2>Booking Details</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="time-slot-page">
          <div class="container">
            <p [ngClass]="role == 'Doctor' ? 'd-none' : ''">Doctor {{bookingDetails.doctor_name}}</p>
            <p [ngClass]="role == 'User' ? 'd-none' : ''">User {{bookingDetails.user_name}}</p>
            <p>{{bookingDetails.booking_day}}</p>
            <p>{{bookingDetails.booking_date}}</p>
            <p>{{bookingDetails.status}}</p>
            <p>{{bookingDetails.patient_name}}</p>
            <p>{{bookingDetails.patient_age}}</p>
            <p>{{bookingDetails.disease_dec}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
