@import "../../../../assets/scss/componants/variable";

.our-terms {
  .card {
    border: none;
    .card-body {
      .content {
        font-size: 16px;
        line-height: 1.6;
        color: #333;
        ol{
          li{
            font-size: 16px;
            margin-bottom: 20px;
            color: $dark-gray !important;
            strong{
              color: $black !important;
            }
          }
        }
      }
    }
  }
}
