<main>
  <app-banner></app-banner>

  <div class="main-page">
  <app-search></app-search>

  </div>

  <!-- <div class="col-lg-12 col-sm-12">
    <a href="#" class="view-all  aos-init aos-animate tooltipapplied" title="" data-toggle="tooltip"
      data-aos="fade-up" data-aos-duration="1200" data-aos-delay="2100"
      data-bs-original-title="View all services">
      View all <i class='bx bx-right-arrow-alt'></i>
    </a>
  </div> -->
  <!-- <app-doctors></app-doctors> -->

  <div class="main-page">
    <app-specialties></app-specialties>
    </div>

</main>
