
@import"../../../../assets/scss/componants/variable.scss";


.contact-us {
  .card{
    border: none !important;
  }
  h1,
  h2 {
    font-weight: normal;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
    margin-top: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  p {
    text-align: center;
    font-size: 1rem;
  }
  /* Form styles */
  form {
    margin: 0 auto;
    max-width: 600px;
    border-radius: 15px;
    padding: 50px;
    h1{
      text-align: start;
      font-weight:500;
     letter-spacing:1px;
      text-transform: uppercase;
    }
  }


  /* Map styles */
  iframe {
    display: block;
    margin: 3rem auto;
    width: 100%;
    max-width: 600px;
    height: 580px;
    border: none;

  }
}

/* Media queries */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  form {
    max-width: 800px;
  }

  p {
    font-size: 1.2rem;
  }
}
