<main>
  <div class="card ">
    <div class="card-body">
  <div class="row mb-6">
    <label class="col-lg-3 col-form-label required fw-semibold fs-6">  password </label>
    <div class="col-lg-9">
  <input type="password" name="password" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="password">
            <div class="fv-plugins-message-container invalid-feedback"></div>
          </div>
</div>

<div class="row mb-6">
  <!--begin::Label-->
  <label class="col-lg-3 col-form-label required fw-semibold fs-6">New password</label>
  <!--end::Label-->

  <!--begin::Col-->
  <div class="col-lg-9">
      <!--begin::Row-->
      <div class="row">
          <!--begin::Col-->
          <div class="col-lg-6 fv-row fv-plugins-icon-container">
              <input type="text" name="newpPassword" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="New password">
          <div class="fv-plugins-message-container invalid-feedback"></div></div>
          <!--end::Col-->

          <!--begin::Col-->
          <div class="col-lg-6 fv-row fv-plugins-icon-container">
              <input type="text" name="confirmPassword" class="form-control form-control-lg form-control-solid" placeholder="confirm password">
          <div class="fv-plugins-message-container invalid-feedback"></div></div>
          <!--end::Col-->
      </div>
      <!--end::Row-->
  </div>
  <!--end::Col-->
</div>
    </div>
  </div>
</main>
