<main class="modal-handle">
  <div class="modal-dialog modal-dialog-centered align-center">
    <div class="modal-content deletslots-page">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateAddressForm" (ngSubmit)="updateAddress()">
          <div class="row mb-6">
            <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">Address</label>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                  <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" id="address"
                    name="address" formControlName="address" value="{{addressedit.itemAddress}}"
                    (change)="onchangeInput($event)">
                  <div class="alert alert-danger my-2" *ngIf="address?.invalid &&(address?.dirty || address?.touched)">
                    <li *ngIf="address?.errors?.['required']">Address must be not empty</li>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-6">
            <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">State</label>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                  <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    formControlName="state" id="state" name="state" value="{{addressedit.itemState}}"
                    (change)="onchangeInput($event)">
                  <div class="alert alert-danger my-2" *ngIf="state?.invalid &&(state?.dirty || state?.touched)">
                    <li *ngIf="state?.errors?.['required']">State must be not empty</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-6">
            <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">Country</label>
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-12 fv-row fv-plugins-icon-container">
                  <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    formControlName="country" id="country" name="country" value="{{addressedit.itemCountry}}"
                    (change)="onchangeInput($event)">
                  <div class="alert alert-danger my-2" *ngIf="state?.invalid &&(country?.dirty || country?.touched)">
                    <li *ngIf="country?.errors?.['required']">Country must be not empty</li>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-action-can btn_font">
              Cancel
            </button>
            <button type="submit" class="btn-action-add btn-primary btn_font">
              Save
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</main>
