.bred {
  width: 100%;
  min-height: 200px;
  padding-top: 50px;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #f9f9f9;
  background-image: url(/../../assets/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 500px;
  h2 {
    color: white;
    text-transform: uppercase;
  }
}
