<main>
  <!-- ======= Doctors Section ======= -->
  <div class="about-page">
      <div class="about">
          <div class="content">
              <div class="ab-us">
                  <h1>About us </h1>
              </div>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis modi, qui dicta nostrum harum
                  illum. Incidunt, ullam iure? Quas, delectus voluptates. Nisi laudantium, eius rerum error
                  aspernatur dignissimos cumque vitae velit quod atque, perspiciatis odit praesentium voluptate!
                  Iure in necessitatibus tenetur ratione! Porro consectetur mollitia illum pariatur quae tempore
                  praesentium.</p>
          </div>
          <div class="pic">
              <div class="img">
                  <img src="assets/images/about.jpg" alt="">
              </div>
          </div>
      </div>
  </div>
  <!--  End   home page -->
</main>
