<div class="all-spcialistes">
  <div class="container">
    <section class="details-content">
      <div class="details-wrapper">
        <div *ngIf="spacialistes.length === 0">
          No spacialistes yet
        </div>
        <div *ngIf="spacialistes.length >0">
          <div class="row">
            <div class="col-lg-3" *ngFor="let item of spacialistes">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="specialist" routerLink="/doctor/spcialiset/{{item.id}}">
                    <div class="overlay"></div>
                    <div class="image">
                      <img [src]="item.image" alt="{{item.title}}" />
                    </div>
                    <div class="content">
                      <h3>{{item.title}}</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn-action-m m-auto" (click)="loadItems()">Show More</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
