<main class="banner_section">
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="banner-section">
          <div class="banner-slider">
            <div class="item">
              <div class="item-wrap">
                <img src="../../../../../assets/images/banner-im-1.jpg" alt="adex-banner" class="rellax"
                  data-rellax-speed="-4" />
                <img src="../images/contents/banner-im-mob-2.jpg" class="mobile" alt="banner-image"
                  title="​Future Technology in Health Service Delivery" />
                <div class="content-wrap">
                  <h1>Future Technology in Health Service Delivery</h1>
                  <a href="#" class="learn-more-white" title="learn more" data-toggle="tooltip">
                    learn more <i class="bx bx-right-arrow-alt"></i>
                  </a>
                </div>
                <div class="slider-counter"></div>
                <a class="scroll-down" href="#our-services" title="Scroll down to view more" data-toggle="tooltip">
                  <i class="bx bx-mouse"></i>
                  <span>scroll down</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="banner-section">
          <div class="banner-slider">
            <div class="item">
              <div class="item-wrap">
                <img src="../../../../../assets/images/banner-im-1.jpg" alt="adex-banner" class="rellax"
                  data-rellax-speed="-4" />
                <img src="../images/contents/banner-im-mob-2.jpg" class="mobile" alt="banner-image"
                  title="​Future Technology in Health Service Delivery" />
                <div class="content-wrap">
                  <h1>Future Technology in Health Service Delivery</h1>
                  <a href="#" class="learn-more-white" title="learn more" data-toggle="tooltip">
                    learn more <i class="bx bx-right-arrow-alt"></i>
                  </a>
                </div>
                <div class="slider-counter"></div>
                <a class="scroll-down" href="#our-services" title="Scroll down to view more" data-toggle="tooltip">
                  <i class="bx bx-mouse"></i>
                  <span>scroll down</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</main>
