<main class="modal-handle">
  <div class="modal-dialog modal-dialog-centered align-center"  >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="cansel-page ">
          <div class="container">
          <h1> Are you sure you want to cansel ?</h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  class="btn btn-sm" data-bs-dismiss="modal" aria-label="Close" >Cansel</button>
        <!-- <button  (click)="deleteSlot(slotId)" class="btn btn-sm ">Delete</button> -->
      </div>
    </div>
  </div>

</main>
