<div class="login m-4">
  <div class="wrapper fadeInDown">
      <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover"><a href="register.html">SIGN UP</a> </h2>
          <form class="mb-3">
              <!-- email -->
              <div class="form-group">
                  <input type="email" class="mt-5 button-mm" placeholder="Your Email  " value="" id=" email" />
              </div>
              <!--  password  doc-->
              <div class="fadeIn third">
                  <input type="password" class="button-mm" placeholder="Password " value="" id="password" />
              </div>
              <input type="submit" class="fadeIn mt-5 fourth"
               value="Log In">
          </form>
          <!-- Remind Passowrd -->
          <div id="formFooter">
              <a class="underlineHover" routerLink="/forget">Forgot Password?</a>
          </div>

      </div>
  </div>
</div>
