/* login-form */
/* .login-btn {
  position: relative;
  display: inline-flex;
  width: 150px;
  height: 40px;
  perspective: 1000px;
  a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform 0.25s;
    font-family: "Montserrat", sans-serif;

    &:after {
      position: absolute;
      content: "LOGIN";
      height: 40px;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #1977cc;
      box-sizing: border-box;
      border-radius: 5px;
      color: gray;
      transform: rotateX(90deg) translateZ(0);
    }
    &:before {
      color: #fff;
      background: gray;
      transform: rotateY(0deg) translateZ(0);
    }

    &:hover {
      transform: translateZ(-25px) rotateX(-90deg);
    }
  }
} */

.login {
  padding: 100px 0;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
 a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
  }
    #formContent {
      -webkit-border-radius: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      background: #fff;
      padding: 30px;
      width: 90%;
      max-width: 450px;
      position: relative;
      padding: 0px;
      -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
      text-align: center;

      h2.inactive {
        color: #cccccc;
      }
      h2.active {
        color: #1976ca;
        border-bottom: 2px solid#1976ca;
      }

       .button-mm {
    background-color: #f6f6f6;
    border: none;
    color: #00317e;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
  }

    #formFooter {
      background-color: #f6f6f6;
      border-top: 1px solid #dce8f1;
      padding: 25px;
      text-align: center;
      -webkit-border-radius: 0 0 10px 10px;
      border-radius: 0 0 10px 10px;
    }
  }

  }
  /* FORM TYPOGRAPHY*/
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    background-color: #1976ca;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #1976ca;
    }
    &:active {
      -moz-transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -o-transform: scale(0.95);
      -ms-transform: scale(0.95);
      transform: scale(0.95);
    }
  }
  input[type="text"] {
    background-color: #f6f6f6;
    border: none;
    color: #1976ca;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;

    &:focus {
      background-color: #fff;
      border-bottom: 2px solid#1976ca;
    }
    &:placeholder {
      color: #cccccc;
    }
  }

}
