<main>

  <div class="container">
    <div class="row">

      <div class="col-lg-4">

        <div class="specialist">
          <div class="card">
            <div class="layer">

            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto ea tenetur quas facere minima
                obcaecati mollitia sed ipsum quod, eius repellat nihil quos. Saepe ipsa veritatis magni voluptates
                voluptatum.</p>
              <div class="image">
                <img width="100px"
                  src="https://steamuserimages-a.akamaihd.net/ugc/916918533107756109/283D620FFDBC088A442F4908106C2DB4A76B58F4/"
                  alt="">

              </div>
              <div class="details">
                <h2> Someone famous <br> <span>Front end developer</span></h2>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4">
        <div class="specialist">
          <div class="card">
            <div class="layer">

            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto ea tenetur quas facere minima
                obcaecati mollitia sed ipsum quod, eius repellat nihil quos. Saepe ipsa veritatis magni voluptates
                voluptatum.</p>
              <div class="image">
                <img width="100px"
                  src="../../../../assets/images/doctors/doctors-3.jpg"
                  alt="">

              </div>
              <div class="details">
                <h2> Someone famous <br> <span>Front end developer</span></h2>
              </div>
            </div>
          </div>
        </div>

      </div>



      <div class="col-lg-4">
        <div class="specialist">
          <div class="card">
            <div class="image">
                <img width="100px"
                  src="https://steamuserimages-a.akamaihd.net/ugc/916918533107756109/283D620FFDBC088A442F4908106C2DB4A76B58F4/"
                  alt="">

              </div>
            <div class="layer">

            </div>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam iusto ea tenetur quas facere minima
                obcaecati mollitia sed ipsum quod, eius repellat nihil quos. Saepe ipsa veritatis magni voluptates
                voluptatum.</p>

              <div class="details">
                <h2> Someone famous <br> <span>Front end developer</span></h2>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>



  </div>
</main>
