<main class="modal-handle">
  <div class="modal-dialog modal-dialog-centered align-center">
    <div class="modal-content deletslots-page">
      <div class="modal-headerdel-color" >
        <h2> Delete Slot </h2>
        <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="time-slot-page">
          <div class="container">
            <h1>Are you sure you want to delete ?</h1>
          </div>
        </div>
      </div>
      <div class="modal-footer">

        <button class="btn-action-can" data-bs-dismiss="modal" aria-label="Close">
          Cancel
        </button>
        <button (click)="deleteSlot(slotId)" class="btn-action-dle">
          Delete
        </button>
      </div>
    </div>
  </div>
</main>
