/* CSS */
.btn-action, .btn-action-xl ,.btn-action-md,.btn-action-sm,.btn-action-m,.btn-action-sm-0,.btn-action-add,.btn-action-can,.btn-action-dle{
  display: block; // change it
 border-radius: 5px;
background-color: $th-brand;
 box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
   color: $pure-white;
   padding: 20px;
  appearance: button;
  backface-visibility: hidden;
  border-width: 0;
  text-transform: capitalize;
   padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin: 10px 0;
  &:hover{
    opacity: 0.6;
  }
}

.btn-action, .btn-action-xl ,.btn-action-md,.btn-action-sm,.btn-action-m,.btn-action-sm-0:disabled {
  cursor: default;
}

.btn-action, .btn-action-xl ,.btn-action-md,.btn-action-sm,.btn-action-m,.btn-action-sm-0:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
.btn-action-xl
{
  width: 75%;
}
.btn-action-md
{
  width: 50%;
}
.btn-action-sm
{ width: 35%;
}
.btn-action-m
{ width: 25%;
}
.btn-action-sm-0{
  width: 15%;
}
 .btn-sm{
  padding: 1rem !important;
 }
.btn-action-add{
  width: 20%;
  margin-left: 10px;
}
.btn-action-can{
  width: 20%;
  background-color: transparent;
  color: $black;
  font-size:16px;
}
.btn-action-dle{
  background-color: $red;
  width: 20%;
  margin-left: 10px;
}
.btn-booking{
  background-color: $th-brand;
    color: white;
    font-size: 14px;
    padding: 13px 20px;
    width: 35%;
    border-radius: 5px;
    &:hover{
      background-color: #008da1;
      color: white;
      opacity: 0.9 !important;
    }
}

// .btn-action {
//   margin-left: 15px;
//   background: $brand-primary;
//   color: #fff;
//   height: 40px;
//   padding: 8px 25px;
//   white-space: nowrap;
//   transition: 0.3s;
//   font-size: 14px;
//   display: inline-block;
//   text-decoration: none;
//   border-radius: 5px;

//   i {
//     margin: 1px 5px;
//     scale: (1.1);
//   }

//   &:hover {
//     background: #022646;
//     color: #fff;
//   }
// }

form .button {
  padding: 0 40px;
  margin-right: 1px;
  height: 43px;
  outline: none;
  border: none;
  background-color: #285192;
  display: flex;
  color: #fff;
  align-items: center;
  border-radius: 10px;
  font-size: 1.125rem;
  justify-content: center;

  &:hover {
    background-color: gray;
    color: #fff;
  }
}

/* login-form */
// .login-btn {
//   position: relative;
//   display: inline-flex;
//   width: 150px;
//   height: 40px;

//   perspective: 1000px;

//   a {
//     font-size: 19px;
//     letter-spacing: 1px;
//     transform-style: preserve-3d;
//     transform: translateZ(-25px);
//     transition: transform 0.25s;
//     font-family: "Montserrat", sans-serif;

//     &:before,
//     &:after {
//       position: absolute;
//       content: "LOGIN";
//       height: 40px;
//       width: 150px;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       border: 1px solid #1977cc;
//       box-sizing: border-box;
//       border-radius: 5px;
//     }

//     &:before {
//       color: #fff;
//       background: gray;
//       transform: rotateY(0deg) translateZ(0);
//     }

//     &:after {
//       color: gray;
//       transform: rotateX(90deg) translateZ(0);
//     }

//     &:hover {
//       transform: translateZ(-25px) rotateX(-90deg);
//     }
//   }
// }

.custom-btn {
  width: 130px;
  height: 40px;
  text-decoration: none;
  color: #00317e;
  padding: 5px 25px;
  border: 2px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  margin: 0 5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  text-align: center;
}
.btn-lo {
  background-color: $th-brand;
  border: none;
  color: $pure-white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-top: 30px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: $brand-blue-hover;
  }
  &:active {
    transform: scale(0.95);
  }
}
@media (max-width: 992px) {
  form .button {
    min-width: 60%;
    font-size: 25px;
  }
}
@media (max-width: 767px) {
  .btn-action {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
  form .button {
    width: 20%;
    margin: 20px auto;
  }
}
@media (max-width: 558px) {
  form .button {
    margin-top: 40px;
    margin-left: 80px;
  }
  .btn-lo {
    padding: 15px 10px;
  }
}
