.modal-content {
  .modal-header {
    border-bottom: none !important;
    .btn-close {
      margin-right: 5px !important;
      margin-top: 14px !important;
    }
  }
  .modal-body {
    p,
    h3 {
      padding-top: 10px;
    }
  }
  .modal-footer {
    // border-top: none !important;
    align-items: end;
    justify-content: end;
  }


}
.modal-handle {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-dialog {
    min-width: 30%;
  }
}
