.modal-content {
  .modal-header {
    border-bottom: none !important;
    background:$th-brand !important;
    color: $pure-white !important;
    align-items: baseline !important;
    h2{
       color: $pure-white !important;
    }
    .btn-close {
      margin-right: 5px !important;
      color: $pure-white !important;
    }
  }
  .modal-body {
    .row{
      align-items: baseline;
    }
    p,
    h3 {
      padding-top: 10px;
    }
  }
  .modal-footer {
    // border-top: none !important;
    align-items: end;
    justify-content: end;
  }
  .del-color{
    background-color:$red !important;}
}
.modal-handle {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-dialog {
    min-width: 30%;
  }
}


