$img: "../images/";
$FontPath: "../../fonts";
$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Roboto", sans-serif;


$brand-primary: #0f182a;
$black:#111;

$pure-white: #fff;


$light-gray0:#dee2e6;
$of-white:#aaa;
$brand-gray: #808080;
$dark-gray:#6c757d;
$th-brand: #0078bd;
$fo-brand: #4b6486;
$fi-brand: rgba(73, 91, 252, 100%);
$fi-brand-hover: rgba(73, 91, 252, 70%);
$blue09: rgba(49, 86, 121, 0.9);
$red: #d11a2a;
$black01: rgba(0, 0, 0, 0.1);
$black:#111;

// $brand-secondary:#0f182a;
$border: #f4f4f4;
$border-radius:15px;

$brand-blue:rgba(0, 120, 189,0.9);
$brand-white-shade:white;
