$img: "../images/";
$FontPath: "../../fonts";
$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Roboto", sans-serif;
$brand-primary: #0f182a;
$brand-secondary: #3e3e3e;
$pure-white: #fff;
$brand-blue: rgba(73, 91, 252, 100%);
$brand-gray: #808080;
$brand-blue-hover: rgba(73, 91, 252, 88%);
$th-brand: rgb(19, 143, 194);
$brand-blue-hover: rgba(19, 143, 194, 88%);

$dark-gray:#6c757d;
$select-primary: #f1f1f1;
$brand-green: rgb(19, 143, 194);
$brand-white-shade: #f2f2f7;
$blue09: rgba(49, 86, 121, 0.9);
$red: #e41529;
$black01: rgba(0, 0, 0, 0.1);
$black:#111;

// $brand-secondary:#0f182a;
$border: #f4f4f4;

$border-radius:15px;


