<main class="main" data-icms-placeholder="main">
  <div
    class="dynamic-page"
    data-aos="fade-up"
    data-aos-duration="1200"
    data-aos-delay="800"
  >
    <div class="container">
      <div class="vco-details-page">
        <section class="vco-details-content">
          <div class="container-fluid">
            <div class="details-wrapper">
              <div class="dr-details">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
                    <div class="dr-img">
                      <img
                        [src]="[doctorDetails.avatar]"
                        alt="Dr. {{ doctorDetails.name }}"
                        title="Dr. {{ doctorDetails.name }}"
                      />
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12 mb-4">
                    <div class="dr-intro">
                      <div class="top-wrapper">
                        <div class="dr-title">
                          <h2>Dr. {{ doctorDetails.name }}</h2>
                          <a href="tel:{{ doctorDetails.phone }}"
                            ><i class="bx bxs-phone-call"></i>
                            {{ doctorDetails.phone }}</a
                          >
                          <h5>
                            <i class="bx bxs-purchase-tag-alt"></i>
                            {{ doctorDetails.fees }} $
                          </h5>
                        </div>

                        <div class="surgeon">
                          <div class="data">
                            <h5>{{ doctorDetails.specialty }}</h5>
                          </div>

                          <div class="icon">
                            <i class="bx bx-check-circle"></i>
                          </div>
                        </div>
                      </div>

                      <div class="dr-dis">
                        <p class="title">
                          <i class="bx bxs-info-circle"></i> About The Doctor
                        </p>

                        <p>{{ doctorDetails.bio }}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div
                    class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"
                    *ngFor="let address of doctorDetails.addresses"
                  >
                    <div class="address">
                      <p>Clinic Address : {{ address.clinic_address }}</p>
                    </div>
                    <table class="table">
                      <thead class="table-light">
                        <tr>
                          <th scope="col">Day</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">End Time</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let slot of address.slots">
                        <tr>
                          <th scope="row">{{ slot.day }}</th>
                          <td>{{ slot.start_time }}</td>
                          <td>{{ slot.start_time }}</td>
                          <td>
                            <!-- getDatesByday(slot.day,doctorDetails.id) -->
                            <a
                              class="btn btn-success"
                              (click)="
                                test(
                                  doctorDetails.id,
                                  doctorDetails.name,
                                  slot.id
                                )
                              "
                              routerLink="/user/booking"
                              ><i class="bx bx-plus"></i> Booking</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
