<main class="main" data-icms-placeholder="main">
  <div class="dynamic-page" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
    <div class="container">
      <div class="vco-details-page">
        <section class="vco-details-content">
          <div class="container-fluid">
            <div class="details-wrapper">
              <div class="dr-details">
                <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 mb-4">
                    <div class="dr-img">
                      <img [src]="[doctorDetails.avatar]" alt="Dr. {{ doctorDetails.name }}"
                        title="Dr. {{ doctorDetails.name }}" />
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12 mb-4">
                    <div class="dr-intro">
                      <div class="top-wrapper">
                        <div class="dr-title">
                          <h2 class="headingtitle">Dr. {{ doctorDetails.name }}</h2>
                          <a href="tel:{{ doctorDetails.phone }}"><i class="bx bxs-phone-call"></i>
                            {{ doctorDetails.phone }}</a>
                          <p>
                            <i class="bx bxs-purchase-tag-alt"></i>
                            {{ doctorDetails.fees }} $
                          </p>
                        </div>

                        <div class="surgeon">
                          <div class="data">
                            <h2 class="headingtitle">{{ doctorDetails.specialty }}</h2>
                          </div>

                          <div class="icon">
                            <i class="bx bx-check-circle"></i>
                          </div>
                        </div>
                      </div>
                      <div class="dr-dis">
                        <h3 class="title headingtitle">
                          <i class="bx bxs-info-circle"></i> About The Doctor
                        </h3>
                        <p>{{ doctorDetails.bio }}</p>
                      </div>

                    </div>
                  </div>


                </div>
                <div class="row">

                  
                  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12 col-12"
                    *ngFor="let address of doctorDetails.addresses">
                    <div class="address">
                      <h4 class="headingtitle">Clinic Address : {{ address.clinic_address }}</h4>
                    </div>
                     <div *ngIf="address.slots.length > 0">
                    <table class="table">
                      <thead class="table-light">
                        <tr class="headingtitle">
                          <th scope="col">Day</th>
                          <th scope="col">Start Time</th>
                          <th scope="col">End Time</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>


                        <tbody *ngFor="let slot of address.slots">
                          <tr>
                            <td scope="row">{{ slot.day }}</td>
                            <td>{{ slot.start_time }}</td>
                            <td>{{ slot.start_time }}</td>
                            <td>
                              <a class="btn-booking mt-5" (click)="
                                selectedDoctor(
                                    doctorDetails,
                                    slot
                                  )
                                " routerLink="/user/booking"><i class="bx bx-plus"></i> Booking</a>
                            </td>
                          </tr>
                        </tbody>

                    </table>
                    </div>

                      <div class="p-10" *ngIf="address.slots.length === 0">
                        No slots yet
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
