
.modal-content{
  padding: 10px;
  .modal-header {
    border-bottom: none !important;
  }

  .modal-body {
    text-align: center !important;

    p , h3{
      padding-top:10px ;
    }
  }
  .modal-footer {
    border-top: none !important;
    align-items: center;
    justify-content:center !important;

  }
}
