$img: "../images/";
$FontPath: "../../fonts";
/* $iconsFontFamily: "fiicons";
$iconsFontPath: "../fonts/fiicons"; */
$font-size-base: 16px;
$font-size-base-rtl: 14px;
$font-base: "Roboto", sans-serif;
$brand-primary: #0f182a;
$brand-secondary: #3e3e3e;
$pure-white: #fff;
$th-brand: rgba(73, 91, 252, 100%);
$brand-gray: #808080;
$brand-blue-hover: rgba(73, 91, 252, 88%);
$dark-gray: #444;
$gray0: #b5b5c3;

$select-primary: #f1f1f1;
$brand-green: #76ae8c;
$brand-white-shade: #f2f2f7;
$blue09: rgba(49, 86, 121, 0.9);
$transparent-light: red;
$black01: rgba(0, 0, 0, 0.1);
$black: #000;

// $brand-secondary:#0f182a;
$border:#f4f4f4;


