<div class="all-spcialistes">
  <div class="container">
  <div class="row">
  <div class="col-lg-3" *ngFor="let item of spacialistes">
  <div class="card mb-4">
    <div class="card-body" >
        <div class="specialist" routerLink="/doctor/spcialiset/{{item.id}}">
          <div class="overlay"></div>
          <div class="image">
            <img  [src]="item.image" alt="{{item.title}}"/>
           </div>
          <div class="content">
            <h3>{{item.title}}</h3>
          </div>
        </div>
   </div>
    </div>
  </div>
   </div>
    </div>
    <!-- <button *ngIf="(page * pageSize) < spacialistes.length" (click)="showMore()">Show More</button> -->
    <button (click)="loadItems()">Show More</button>
</div>




