<main>
  <div class="card mb-4 ">
    <div class="card-header cursor-pointer">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="m-0">Address</h3>
      </div>
    </div>


    <div class="card-body">
      <div class="row mb-6">
        <label class="col-lg-3 col-form-label required fw-semibold fs-6"> Address </label>
        <div class="col-lg-9">
          <input type="text" name="Address" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
            placeholder="Address">
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>

      <div class="row mb-6">
        <label class="col-lg-3 col-form-label required fw-semibold fs-6"> city </label>
        <div class="col-lg-9">
          <input type="text" name="city" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
            placeholder="city">
          <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
      </div>
    </div>
  </div>
</main>
