<main>
  <div class="card mb-4 ">
    <div class="card-header cursor-pointer">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="m-0">My Clinic Addresses</h3>
      </div>
      <!--end::Card title-->
      <!--begin::Action-->
      <a routerLink="/user/profile/add" class="btn btn-sm align-self-center" data-bs-target="#test">Add New</a>
      <!--end::Action-->
    </div>

    <!--begin::card body-->
    <div class="card-body">
      <div class="row gx-9 gy-6">
        <div class="col-xl-6">
          <div class="notice d-flex rounded border-dash h-lg-100 p-6">
            <div class="d-flex flex-stack flex-grow-1 flex-wrap flex-md-nowrap">
              <div class="mb-3 mb-md-0 fw-semibold">
                <h5 class="text-gray-900 fw-bold pb-3">Abu Kabir, Sharqia, Egypt.</h5>
                <h6>Sharqia</h6>
                <h6>Egypt.</h6>
              </div>
              <div class="d-flex align-items-center py-2">
                <button class="btn btn-sm button_custom me-3"
                  data-kt-billing-action="card-delete">Delete</button>
                <button class="btn btn-sm button_custom">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end::card body-->
  </div>
</main>


<!-- <div class="row mb-6">
  <label class="col-lg-3 col-form-label required fw-semibold fs-6"> Address </label>
  <div class="col-lg-9">
    <input type="text" name="Address" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
      placeholder="Address">
    <div class="fv-plugins-message-container invalid-feedback"></div>
  </div>
</div>
<div class="row mb-6">
  <label class="col-lg-3 col-form-label required fw-semibold fs-6"> city </label>
  <div class="col-lg-9">
    <input type="text" name="city" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
      placeholder="city">
    <div class="fv-plugins-message-container invalid-feedback"></div>
  </div>
</div> -->
