<!-- <div class="bred">
  <div class="container">
    <div class="section-title text-center my-3">
      <h2>My Time Slots</h2>
    </div>
  </div>
</div> -->
<!--End Breadcrumbs-->

<main>
 <div class="all-time-slot">
  <div class="container">
  <div class="card">
    <div class="container text-center">
      <div class="profile-card__cnt js-profile-cnt py-5">

        <table class="table table-striped table-hover table-bordered border-dark">
          <thead>
            <tr>
              <th>id</th>
              <th>Day</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Number Of Booking</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>

            <tr>
              <td>$slot->id </td>
              <td> $slot->week_day }</td>
              <td> $slot->start_time </td>
              <td>$slot->end_time </td>
              <td>num_of_booking </td>
              <td class="text-center">

                <form class="del_form">
                  <button type="submit" routerLink="/doctor/editslot" class="btn btn-warning">
                    <i class='text-light bx bx-edit-alt'></i>
                  </button>
                  <button type="submit" class="btn btn-danger">
                    <i class='bx bx-trash'></i>
                  </button>
                </form>
              </td>
            </tr>

          </tbody>
        </table>

        <h3>oops! You don't have any Avilable Time Add it Please!</h3>
        <a class="btn btn-success  button mt-1 text-center my-4" routerLink="/doctor/timeSlots" >Add MyTime</a>


      </div>
    </div>
  </div>
      </div>


</div>

</main>
