<div class="dynamic-page" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
  <div class="container">
     <div class="vco-page">
      <section class="vco-content">
          <div class="container-fluid">
              <div class="consultant-wrapper">
                  <!-- Consultants List -->
                  <div class="consultant-list">
                      <div class="row">
                          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                              <div class="consultant-card">
                                  <div class="consultant-img">
                                      <div class="ext">
                                          <div class="top">
                                              <div class="surgeon">
                                                  <div class="icon">
                                                      <i class="fi-surgeon"></i>
                                                  </div>

                                                  <div class="data">
                                                      <span>Surgeon</span>
                                                  </div>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">25</p>
                                                  <p class="title">Years of Experience</p>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">EN, PT, ES</p>
                                                  <p class="title">Languages spoken</p>
                                              </div>
                                          </div>

                                          <div class="action-wrapper">
                                              <a href="#" class="action border">View Profile</a>
                                          </div>
                                      </div>

                                      <div class="img">
                                        <img src="../../../../assets/images/doctors/doctor.jpg" alt="Dr. Basil Elnazir" title="Dr. Basil Elnazir"/>
                                    </div>
                                  </div>

                                  <div class="consultant-info">
                                      <h4><a href="#">Dr. Basil Elnazir</a></h4>
                                      <p>Pediatric Pulmonology</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                              <div class="consultant-card">
                                  <div class="consultant-img">
                                      <div class="ext">
                                          <div class="top">
                                              <div class="surgeon">
                                                  <div class="icon">
                                                      <i class="fi-surgeon"></i>
                                                  </div>

                                                  <div class="data">
                                                      <span>Surgeon</span>
                                                  </div>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">25</p>
                                                  <p class="title">Years of Experience</p>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">EN, PT, ES</p>
                                                  <p class="title">Languages spoken</p>
                                              </div>
                                          </div>

                                          <div class="action-wrapper">
                                              <a href="#" class="action border">View Profile</a>
                                          </div>
                                      </div>

                                      <div class="img">
                                        <img src="../../../../assets/images/doctors/doctor.jpg" alt="Dr. Basil Elnazir" title="Dr. Basil Elnazir"/>
                                    </div>
                                  </div>

                                  <div class="consultant-info">
                                      <h4><a href="#">Dr. Basil Elnazir</a></h4>
                                      <p>Pediatric Pulmonology</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                              <div class="consultant-card">
                                  <div class="consultant-img">
                                      <div class="ext">
                                          <div class="top">
                                              <div class="surgeon">
                                                  <div class="icon">
                                                      <i class="fi-surgeon"></i>
                                                  </div>

                                                  <div class="data">
                                                      <span>Surgeon</span>
                                                  </div>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">25</p>
                                                  <p class="title">Years of Experience</p>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">EN, PT, ES</p>
                                                  <p class="title">Languages spoken</p>
                                              </div>
                                          </div>

                                          <div class="action-wrapper">
                                              <a href="#" class="action border">View Profile</a>
                                          </div>
                                      </div>

                                      <div class="img">
                                        <img src="../../../../assets/images/doctors/doctor.jpg" alt="Dr. Basil Elnazir" title="Dr. Basil Elnazir"/>
                                    </div>
                                  </div>

                                  <div class="consultant-info">
                                      <h4><a href="#">Dr. Jean Fajadet</a></h4>
                                      <p>Interventional Cardiology</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                              <div class="consultant-card" routerLink="/doctorsdetails">
                                  <div class="consultant-img">
                                      <div class="ext">
                                          <div class="top">
                                              <div class="surgeon">
                                                  <div class="icon">
                                                      <i class="fi-surgeon"></i>
                                                  </div>

                                                  <div class="data">
                                                      <span>Surgeon</span>
                                                  </div>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">25</p>
                                                  <p class="title">Years of Experience</p>
                                              </div>

                                              <div class="sub-info">
                                                  <p class="data">EN, PT, ES</p>
                                                  <p class="title">Languages spoken</p>
                                              </div>
                                          </div>

                                          <div class="action-wrapper">
                                              <a href="#" class="action border" routerLink="/doctor/doctorsdetails">View Profile</a>
                                          </div>
                                      </div>

                                      <div class="img">
                                        <img src="../../../../assets/images/doctors/doctor.jpg" alt="Dr. Basil Elnazir" title="Dr. Basil Elnazir"/>
                                    </div>
                                  </div>

                                  <div class="consultant-info">
                                      <h4><a href="#">Dr. Stephanie Muh</a></h4>
                                      <p>Orthopedic Surgery - Shoulder and Elbow</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-12 col-sm-12">
                        <a href="#" class="view-all  aos-init aos-animate tooltipapplied" title="" data-toggle="tooltip" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="2100" data-bs-original-title="View all services">
                            View all <i class='bx bx-right-arrow-alt' ></i>
                        </a>
                    </div>
                  </div>
              </div>
          </div>
      </section>
  </div>
  </div>

</div>
