.bred {
  width: 100%;
  min-height: 350px;
  padding: 0px 0;
  background-color: black;
  display: grid;
  place-content: center;
  background-image: url(/../../assets/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% 350px;
  position: relative;
  h2 {
    color: white;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
  }
}
