<main class="main" data-icms-placeholder="main">
  <div class="dynamic-page" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="800">
    <div class="container">
      <div class="vco-details-page">
        <section class="vco-details-content">
          <div class="container-fluid">
            <div class="details-wrapper">
              <div class="dr-details">
                <div class="row mb-6">
                  <!--begin::Label-->

                  <!--end::Label-->
                  <!--begin::Col-->
                  <div class="col-lg-9">
                    <!--begin::Row-->
                    <div class="row">
                      <!--begin::Col-->
                      <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Doctor Name</label>
                        <input type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                          placeholder="Doctor Name" value="">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                      </div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <!-- <div class="col-lg-6 fv-row fv-plugins-icon-container">
                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Name</label>
                        <input type="text" name="lname" class="form-control form-control-lg form-control-solid"
                          placeholder="Last name" value="">
                        <div class="fv-plugins-message-container invalid-feedback"></div>
                      </div> -->
                      <!--end::Col-->
                    </div>
                    <!--end::Row-->
                  </div>
                  <!--end::Col-->
                </div>
                  <div class="row mb-6">
                    <!--begin::Label-->

                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="col-lg-9">
                      <!--begin::Row-->
                      <div class="row">
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                          <label class="col-lg-3 col-form-label required fw-semibold fs-6">Name</label>
                          <input type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                            placeholder="First name" value="">
                          <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <!--end::Col-->
                        <!--begin::Col-->
                        <div class="col-lg-6 fv-row fv-plugins-icon-container">
                          <label class="col-lg-3 col-form-label required fw-semibold fs-6">Name</label>
                          <input type="text" name="lname" class="form-control form-control-lg form-control-solid"
                            placeholder="Last name" value="">
                          <div class="fv-plugins-message-container invalid-feedback"></div>
                        </div>
                        <!--end::Col-->
                      </div>
                      <!--end::Row-->
                    </div>
                    <!--end::Col-->
                  </div>

      <div class="row mb-6">
        <div class="col-lg-9">
          <label class="col-lg-3 col-form-label required fw-semibold fs-6">Name</label>
          <select class="form-select form-select-solid form-select-lg select2-hidden-accessible"
          name="gender" required formControlName="gender" >
          <!-- [(ngModel)]="profilesetting.gender" -->
          <!-- <option [value]="'female'" [selected]="profilesetting.gender === 'female'">Female</option>
          <option [value]="'male'" [selected]="profilesetting.gender === 'male'">Male</option> -->
        </select>
          <div class="fv-plugins-message-container invalid-feedback" ></div>
        </div>
      </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
