   <!--main sec  -->
   <main>
    <div class="appointment-page">
              <div class="container">
                  <div class="wrapper">
                    <ul class="steps">
                      <li class="is-active">Step 1</li>
                      <li>Step 2</li>
                      <li>Step 3</li>
                    </ul>
                    <form class="form-wrapper">
                      <div class="section is-active">
                        <h3>Appointment</h3>
                        <input type="text" name="name" id="name" placeholder="Name">
                        <input type="text" name="email" id="email" placeholder="Email Address">



                        <input class="submit button" type="submit" value="Next">

                      </div>
                      <div class="section">
                        <h3>Account Type</h3>
                        <div class="row cf">
                          <div class="four col da-ti">
                            <input type="date" class="data-time">

                          </div>
                          <div class="four col da-ti">
                            <input type="time" class="data-time" >

                          </div>
                          <div class="four col">
                            <input type="radio" name="r1" id="r2" class="data-time">
                             <select class="form-select data-time" aria-label="Default select example">
                              <option selected>select The departments</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>





                        </div>
                        <input class="submit button " type="submit" value="Sign Up">

                      </div>
                      <div class="section">

                        <input type="number" name="number" id="number" placeholder="Age">
                        <input type="number" name="Phone" id="Phone" placeholder="Phone Number">
                        <input class="submit button" type="submit" value="Sign Up">
                      </div>
                      <div class="section">
                        <h3>confirmed</h3>
                        <p>Your booking is confirmed.</p>
                        <button class="button submit">Reset Form</button>
                      </div>
                    </form>
                  </div>
                </div>
    </div>

 </main>

