<main class="modal-handle">
  <div class="modal-dialog modal-dialog-centered align-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="time-slot-page">
          <div class="container">
            <form [formGroup]="addNewAddress"  (ngSubmit)="addNewAdress()">
              <div class="alert alert-danger" *ngIf="errorMsg != ''" (input)="errorMsg = ''">
                {{ errorMsg }}
              </div>
              <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">Address</label>
                <div class="col-lg-9">
                  <div class="row">

                    <div class="col-lg-12 fv-row fv-plugins-icon-container">

                    <input type="text" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" formControlName="address">
                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">State</label>
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-12 fv-row fv-plugins-icon-container">

                      <input type="text"  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"formControlName="state">

                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-6">
                <label class="col-lg-3 col-form-label required fw-semibold fs-6" for="address_id">Country</label>
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-lg-12 fv-row fv-plugins-icon-container">

                      <input type="text"class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"formControlName="country">

                      <div class="fv-plugins-message-container invalid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                 <button type="submit" class="btn-action-can">Cancle</button>
                <button type="submit" class="btn-action-add">Add</button>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
