<main>
  <div class="time-slot-page">


    <div class="container">
      <div class="card">
    <div class="container">
      <div class="time-slot">
          <form>
   <div class="form-group">

              <select class="form-select input-group" id="week_day" name="week_day" aria-label="Default select example"  required>
                <option selected disabled>Select Day</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
              </select>

              <!-- <div class="alert alert-danger"> </div> -->

            </div>
            <div class="row mb-6">
              <!--begin::Label-->
              <label class="col-lg-3 col-form-label required fw-semibold fs-6">number</label>
              <!--end::Label-->

              <!--begin::Col-->
              <div class="col-lg-9">
                <!--begin::Row-->
                <div class="row">
                  <!--begin::Col-->
                  <div class="col-lg-6 fv-row fv-plugins-icon-container">
                    <input type="text" name="number" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="number">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <!--end::Col-->


                </div>
                <!--end::Row-->
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-6">
              <!--begin::Label-->
              <label class="col-lg-3 col-form-label required fw-semibold fs-6">Time</label>
              <!--end::Label-->

              <!--begin::Col-->
              <div class="col-lg-9">
                <!--begin::Row-->
                <div class="row">
                  <!--begin::Col-->
                  <div class="col-lg-6 fv-row fv-plugins-icon-container">
                    <input type="text" name="Start_Time" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Start_Time">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <!--end::Col-->

                  <!--begin::Col-->
                  <div class="col-lg-6 fv-row fv-plugins-icon-container">
                    <input type="text" name="End-time" class="form-control form-control-lg form-control-solid"
                      placeholder="End-time">
                    <div class="fv-plugins-message-container invalid-feedback"></div>
                  </div>
                  <!--end::Col-->
                </div>
                <!--end::Row-->
              </div>
              <!--end::Col-->
            </div>

            <div>
              <button type="submit" class="button mt-1">Add Slot</button>
            </div>



          </form>
      </div>
    </div>

  </div>
</div>

  </div>

</main>
