@import "../../../../assets/scss/componants/variable.scss";


form {
  padding: 50px 100px;
  .form-group {
    display: flex;
    flex-direction: column;
    // margin: 30px 0;
    position: relative;
    margin: 10px 2.5px 20px 2.5px;

    input,
    select {
      display: inline-block;
      border-radius: 5px;
      border: 1px solid $brand-gray;
      color: $dark-gray;
      background-color: $pure-white;
      padding: 10px 20px;
      font-size: 16px;
      transition: all 0.5s ease-in-out;
      &:focus {
        border: thin solid $th-brand;
        border-bottom: solid medium $th-brand;
        // background-color: $pure-white;
      }
    }
    label {
      color: $brand-gray;
      position: absolute;
      pointer-events: none;
      left: 10px;
      top: 10px;
      transition: 0.2s;
    }
    input:focus ~ label {
      top: -10px;
      left: 15px;
      border-radius: 5px;
      color: $black;
      background-color: $blue09;
      padding: 0 5px 0 5px;
    }
  }
  .form-check {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 2em;
    .form-check-input {
      background-color: $brand-primary;
      border: 1px solid $pure-white;
    }
    .form-check-content {
      padding: 10px 0;
      color: $pure-white;
    }
    a {
      color: $th-brand;
    }
  }
  
}
