<main>
  <div class="card">
    <div class="card-header cursor-pointer">
      <div class="card-title m-0">
        <h3 class="m-0"> Time Slots </h3>
      </div>
      <a type="button" class="btn-action-can long-btn" data-bs-toggle="modal" data-bs-target="#addTime">
        Add Time
      </a>
    </div>
    <div class="tab-content">
      <div id="kt_billing_months" class="card-body p-0 tab-pane fade show active" role="tabpanel"
        aria-labelledby="kt_billing_months">
        <div class="table-responsive">
          <div style="background: #333; padding:20px;" *ngFor="let clinic of allClinics">
            <h5 class="py-3 ms-4 clinic-title">Clinic: <span>{{clinic.clinic_address}}</span></h5>
            <table class="table table-row-bordered align-middle gy-4 gs-9">
              <thead class="border-bottom border-gray-200 fs-6 text-gray-600 fw-bold bg-light bg-opacity-75">
                <tr>
                  <td class="min-w-150px">ID</td>
                  <td class="min-w-150px">Day</td>
                  <td class="min-w-150px">Start Time</td>
                  <td class="min-w-150px">End Time</td>
                  <td class="min-w-150px">Action</td>
                </tr>
              </thead>
              <tbody class="fw-semibold text-gray-600">
                <tr *ngFor="let slot of clinic.slots; let i = index">
                  <td>#{{i+1}}</td>
                  <td>{{slot.day}}</td>
                  <td>{{slot.start_time}}</td>
                  <td>{{slot.end_time}}</td>
                  <td>
                    <a type="button" class="btn btn-sm-l" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                      (click)='openUpdateModal(slot, clinic.id)'>
                      <i class='bx bx-edit-alt'></i>
                    </a>
                    <a type="button" (click)="openModal(slot.id)" class="btn btn-sm-l" data-bs-toggle="modal"
                      data-bs-target="#delete">
                      <i class='bx bx-trash'></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Add time -->
<div class="modal fade" id="addTime" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" #myModal>
  <app-add-time></app-add-time>
</div>
<!-- edit -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <app-editslot [slotedit]="item"></app-editslot>
</div>
<!-- Delete -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" #myModal
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <!-- [ngClass]="isVisible == false ? 'd-block' :'d-none' " -->
  <app-delslots [slotId]="selectedItemId"></app-delslots>
</div>
