@import "../../../../../assets/scss/componants/variable";
.card-header {
  margin-bottom: 0 !important;
}
.clinic-title {
  span {
    color: $th-brand;
    font-weight: 600;
  }
}
td {
  a {
    padding: 7px 10px !important;
    margin: 0 3px;
    background-color: #f65c5c1a;
    color: #f65c5c;
    &:hover {
      background-color: #f65c5c;
      color: #feeeeeb3;
    }
    &:first-child {
      background-color: #138fc21a;
      color: #138fc2;
      &:hover {
        background-color: #138fc2;
        color: #feeeeeb3;
      }
    }
    i {
      padding-right: 0 !important;
      font-size: 16px;
    }
  }
}
